body{
  background: linear-gradient(#fffde7,#fffabf);
  background-repeat: no-repeat;
}
hr{
  border: 2px solid red;
}

h4{
  text-align: center;
}

.footer-content{
  text-align: center;
}

.footer-content span{
  color: red;
}

.red-div{
  background-color: #ec3237;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

.red-div{
  color: whitesmoke;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

a:hover{
  text-decoration: none;
  color: whitesmoke;
}

.footer-print{
  display: flex;
}

.footer-main-div{
  padding: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

img{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  /* width: 100%; */
}

.img-div{
  display: flex;
  align-items: center;
  
}

.home-img{
  height: 100%;
  width: 100%;
  border-radius: 0%;
}

.home-comp{
  padding: 5px;
}
.img-tag{
  /* padding: none;
  margin: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.logo-img{
  height: 140px;
  width: 50%;
  border-radius: 0%;
}

.two-img{
  width: 100%;
  height: 100%;
  border-radius: 0%;
}

.txt{
  padding-left: 30px;
  font-weight: 500;
}

.third-img-tag{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 180px;
  padding-right: 180px;
}

.third-img{
  border-radius: 0%;
  height: 100%;
  width: 100%;
}

.txt-field{
  text-align: center;
  font-weight: 700;
}