body{
  background: linear-gradient(#fffde7,#fffabf);
  background-repeat: no-repeat;
}
hr{
  border: 2px solid red;
}

h4{
  text-align: center;
}

.footer-content{
  text-align: center;
}

.footer-content span{
  color: red;
}

.red-div{
  background-color: #ec3237;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

.red-div{
  color: whitesmoke;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

a:hover{
  text-decoration: none;
  color: whitesmoke;
}

.footer-print{
  display: flex;
}

.footer-main-div{
  padding: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}